body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{
    text-align: center;
    font-size: 80px;
    margin: 10px 0;
}
p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.dash {
    position: relative;
    top: -165px;
    font-size: 30px
}
.aspect-ratio-box {
    width: 500px;
    height: 1000px;
    background-color:#4795e2;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rectangle {
    width: 440px;
    height: 400px;
    background-color:#D5E8D4;
    margin: 10px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.circle{
    width: 200px;
    height: 200px;
    background-color:#FAD9D5;
    border: 5px solid #f79b90;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.closetDetails, .weatherDetails{
    width: 140px;
    height: 80px;
    background-color:#FAD9D5;
    border: 5px solid #f79b90;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 85%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.closetDetails{
    left: 21%;
}
.weatherDetails{
    left: 79%;
}
.dashboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 5px;
}
.closet-capacity {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    padding: 0 20px; 
}
.closet-text, .weather-text {
    flex: 0.8; 
    text-align: center;
}
.location-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    padding: 5px 10px; 
}
.closet-items, .location {
    flex: 1;
    text-align: center;
}
.details-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    padding: 5px 10px; 
}
.item-count, .weather-status {
    flex: 0.8;
    text-align: center;
}
.image-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-top: 20px;
}
.image-container img {
    max-width: 125px; 
    height: auto; 
}
.image-container img:first-child {
    margin-left: 65px; 
}
.image-container img:last-child {
    margin-right: 40px; 
}