/* Entire navbar area */
.navbar {
    display: flex;
    top: 0;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4));
    width: 100%;
    height: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 100000;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

/* Middle portion on navbar, houses names of pages */
.navbar-middle {
    justify-content: center;
    position: center;
}

/* Left side of navbar, houses the logo */
.navbar-left {
    position: absolute;
    left: 3vw;
}

/* Right side of navbar, houses login button and profile image */
.navbar-right {
    position: absolute;
    right: 3vw;
    display: flex;
    align-items: center;
}

/* Button for page selection */
.nav-button {
    padding-left: 0.75em;
    padding-right: 0.75em;
    color: var(--lavender-blush);
    margin: 5px;
    font-size: 17.5pt;
    font-weight: 700;
}
.nav-button:hover {
    color: #c2c2c2;
}
.nav-button:active {
    color: #9b9b9b;
}

/* Login button */
.login-button {
    background-color: var(--action-color);
    color: black;
    margin-right: 40px;
}

/* Button style for logo image */
.image-button {
    width: 40px;
    height: 40px;
}

/* Button style for profile button */
.profile-button {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}