.shelf {
    padding: 2rem;
}

.product-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
}

.product {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 8px;
}
