/* Home.css */

/* Center popup's content and style its background */
.popup-content {
    background: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    border-radius: 10px;
    padding: 20px 30px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}

/* Style for modal content */
.modal-content {
    padding: 20px;
}

/* Close button */
.close {
    font-size: 30px;
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Circle to display the current weather */
.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 60px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    border: 7.5px solid rgba(0, 0, 0, 0.4);
}

/* Style for the dropdown to choose an activity */
.dropdown {
    position: relative;
    width: 12em;
    height: 50px;
    font-size: 20px;
    padding: 5px;
}

/* Style the individual labes in the dropdown */
.dropdown-label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.outfit-suggestion {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.weather-title {
    margin-top: 150px;
}

.weather-img {
    height: 120px;
    width: 120px;
}

.weather-temp {
    margin-top: -20px;
}

.shelf-box {
    min-width: 100%;
    width: 100%;
}

.left-container, .right-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: 1080px;
}

.left-container > * {
    display: flex;
    width: 100%;
}

.home-center-container {
    display: flex;
    flex-direction: row !important;
}

.right-container > .top-half,
.right-container > .bottom-half {
  flex: 1; /* Each takes half the container height */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}