/* index.css */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: #213547;
  background-color: var(--ash-gray);

  /* Custon colors for scheme*/
  --maybe: #e6e6e6;

  --mint-cream: #F1FFFA;
  --ash-gray: #BACDB0; /* Color of background */
  --celadon: #96E6B3;
  --fern-green: #568259; /* Color of navbar */
  --outer-space: #464E47;
  --lavender-blush: #F3E8EE;
  --action-color: #14b0db; /* Color for interactable items */
  
  --tea-green: #CCFCCB;
  --cambridge-blue: #729B79;
  --paynes-gray: #475B63;
  --rasin-black: #2E2C2F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--action-color);
}

input {
  accent-color: var(--action-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--rasin-black);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: transform 0.1s ease, background-color 0.1s ease; /* Adds smooth transition */
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:active {
  transform: scale(0.95);
}

/* For those who prefer light colorscheme */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--ash-gray);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
